* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --index: calc(1vw + 1vh);
  --black: #141414;
  --transition: 1.25s cubic-bezier(0.2, 0.5, 0, 1);
  --transition-cursor: 2s cubic-bezier(0.05, 0.5, 0, 1);
}
@font-face {
  font-family: arsenal_f, sans-serif;
  src: url(../fonts/arsenal-regular.woff2);
}

.body {
  background-color: #f0f0f0;
}

.magic-list {
  font-family: arsenal_f, sans-serif;
  font-size: calc(var(--index) * 2.75);
  padding: calc(var(--index) * 2.75);
}

.magic-list_item {
  cursor: none;
  color: var(--black);
  display: block;
  text-decoration: none;
  line-height: 0.9;
  padding: calc(var(--index) * 3) calc(var(--index) * 7.5);
  border-bottom: 1px solid rgb(0 0 0 / 0.09);
  counter-increment: my-counter;
}

.magic-list_header {
  width: min-content;
  transition: transform var(--transition);
  will-change: transform;
}

.magic-list_item::before {
  content: "(0" counter(my-counter) ")";
  position: absolute;
  font-size: calc(var(--index) * 0.95);
  margin-left: calc(var(--index) * -2.25);
  margin-top: calc(var(--index) / 2);
  letter-spacing: 0.5px;
  transition: transform var(--transition);
  transition-delay: 0.03s;
  will-change: transform;
}

.magic-list_item:hover .magic-list_header,
.magic-list_item:hover::before {
  transform: translate3d(calc(var(--index) * -5), 0, 0);
}

.magic-list_item:first-child {
  border-top: 1.5px solid var(--black);
}
.cursor {
  --width: calc(var(--index) * 22);
  --height: calc(var(--index) * 14);
  position: fixed;
  width: var(--width);
  height: 0;
  top: calc(var(--height) * -0.5);
  left: calc(var(--width) * -0.5);
  overflow: hidden;
  transform: translate3d(var(--move-x), var(--move-y), 0);
  transition: transform var(--transition-cursor), height 1s ease;
  will-change: transform;
  z-index: -1;
 
}
.magic-list_item:hover .cursor {
  height: var(--height);
}
.cursor_image {
  --cursor-transform: translate3d(calc(var(--move-x) / -5), calc(var(--move-y) / -5), 0);
  position: relative;
  width: calc(var(--width) * 2);
  height: calc(var(--height) * 2);
  top: calc(var(--height) * -0.4);
  left: calc(var(--width) * -0.25);
  background-size: cover;
  background-position: center;
  transform: var(--cursor-transform) scale(1.5);
  transition: trannsform var(--transition-cursor);
}
.magic-list_item:hover .cursor_image {
  transform: var(--cursor-transform) scale(1);
}